services:
  backend:
    image: alexandracarneiro/mi-appbackend
    container_name: backend
    ports:
      - "8080:80"

  frontend:
    image: alexandracarneiro/mi-app-frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
