name: Hello World
on:
  push:
    branches: ['main']

jobs:
  hello_world_job:
    runs-on: windows-latest

    steps:
      - name: 'Hello World'
        run: echo "Hello World"
      - name: 'Print date'
        run: date
      - name: "Muestra archivos directorio sin checkout"
        run: dir

  basics_job:
    runs-on: windows-latest
    steps:
      - name: 'Mi username'
        run: |
          echo ${{ github.actor }}
          echo ${{ github.event_name }}

  test:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if (Test-Path "requirements.txt") { pip install -r requirements.txt }

      - name: Lint with Ruff
        run: |
          pip install ruff
          ruff check
        continue-on-error: true  # Este es el formato correcto

      - name: Test with pytest
        run: |
          pip install coverage
          coverage run -m pytest -v -s
