name: Hello World
on:
  push:
    branches: ['main']

jobs:
  hello_world_job:
    runs-on: windows-latest

    steps:
      - name: 'Hello World'
        run: echo "Hello World"
      - name: 'Print date'
        run: date
      - name: "Muestra archivos directorio sin checkout"
        run: ls -la

  basics_job:
    runs-on: windows-latest
    steps:
      - name: 'Mi username'
        run: |
          echo ${{ github.actor}}
          echo ${{github.event_name}}