name: Hello World
on:
  push:
    branches: ['main']
build-and-push-image:
  runs-on: windows-latest

jobs:
  hello_world_job:
    runs-on: windows-latest
  permissions:
    contents: read
    packages: write
    attestations: write
    id-token: write

    steps:
      - name: 'Hello World'
        run: echo "Hello World"
      - name: 'Print date'
        run: date
      - name: "Muestra archivos directorio sin checkout"
        run: dir

build-and-push-image:
  runs-on: windows-latest

  permissions:
    contents: read
    packages: write
    attestations: write
    id-token: write


    steps:
      - name: checkout repository
      uses: actions/checkout@v4
      - name: Log in the containeer registry
      uses: docker/login-action@v4
      with:
        registry: ${{env.REGISTRY}}
        username: ${{github.actor}}
        password: ${{secrets.CD_TOKEN}}
      
      - name : build docker image
        run: 
          docker build . -- tag ghcr.io/alexandracarneiro/mi-app:latest
        
      - name : Push docker image
        run: 
          docker push . -- tag ghcr.io/alexandracarneiro/mi-app:latest
        
build-and-push-image-to-dh:
  runs-on: windows-latest

  permissions:
    contents: read
    packages: write
    attestations: write
    id-token: write


    steps:

      - name: Login to docker hub
      uses: docker/login-action@v3
      with:
        username: ${{vars.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_TOKEN}}
      
      - name : set up docker build
        uses: docker/setup-buildx-action@v3
        
      - name : Build and push
        uses: socker/build-push-action@v6
        with:
          push: true
          tags: ${{vars.DOCKERHUB_USERNAME}}/mi-app:latest