name: Hello World Workflow
on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: windows-latest
    steps:
      - name: Hello World
        run: echo "Hello World"
      - name: Print date
        run: date
      - name: Show directory without checkout
        run: dir

  build-and-push-image:
    runs-on: windows-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CD_TOKEN }}

      - name: Build Docker image
        run: docker build . --tag ghcr.io/alexandracarneiro/mi-app:latest

      - name: Push Docker image
        run: docker push ghcr.io/alexandracarneiro/mi-app:latest

  build-and-push-image-to-dh:
    runs-on: windows-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker build
        uses: docker/
